#main {
  background-color: #fea49f;
}

.jumbotron {
  background-color: #101357;
  color: white;
}

img {
  width: 40%;
}


#java {
  display: none;
}
#javascript {
  display: none;
}
#python {
  display: none;
}
#ruby {
  display: none;
}
